img{
    width: 120px;
    margin: 0;
    background-color: bisque;
}
img{
    width: 120px
}

header{
    background-color : rgba(66, 7, 117, 1);
    padding: 10px;
    text-align: center;
}
main{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}